[Unit]
Description=영암9 sbo2 Watchdog 타이머
Requires=yeongam9-watchdog-sbo2.service

[Timer]
OnBootSec=60
OnUnitActiveSec=30
Unit=yeongam9-watchdog-sbo2.service

[Install]
WantedBy=timers.target
